{% extends 'base.html.twig' %}

{% block title %}Hello VueTestController!{% endblock %}

{% block main %}


    <div ref="words" data-words="{{ words|join(',') }}">

    </div>
    <div ref="person" data-person="{{ person|join(',') }}">


    </div>

    <div id="app">
        <app>
        </app>
    </div>


    <div ref="lines" data-lines="{{ lines|join(',') }}">


    </div>
    <div id="adressLine">

    </div>

{#    <HelloWorld></HelloWorld>#}
{% endblock %}
