@import "~bootstrap/scss/bootstrap";
@import "./base.scss";
@import "./home.scss";

body , html  {
    width: 100%;
    height: 100%;
    background-color:white;
    font-family: 'Inconsolata', monospace;
}
.container-navbar {
    height: 65px;
    min-height: 65px;
    background-color: rgba(218, 8, 8, 1);
    z-index: 100;
}


.container-btn {
    padding: 10px;
    padding-top: 20px;

    button, a {
        padding: 10px;
        margin:10px;
        height: 100px;
        background-color: white;
        color: black !important;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        border-radius: 5px;
        text-decoration: none !important;
        text-decoration-color: black !important;
    }
}

.container-btn:hover {
    padding: 9px;
    padding-top: 20px;

    button, a {
        background-color: lightgray;
        border-width: 1px;

    }
}


.container-drop {
    background-color: white;
    color: black !important;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    text-decoration: none !important;
    text-decoration-color: black !important;
    max-height: 40px;
}

.container-drop:hover {
    background-color: lightgray;
    border-width: 1px;
}

.cust-radius-top {
    border-radius: 5px 5px 0 0;
}



.cust-textcolor-red {
    corlor: rgba(218, 8, 8, 1);
}

.cust-form-edit {
    div{
        form{
            button {
                margin-bottom: 10px;
                border-style: solid;
                border-color: rgba(218, 8, 8, 1);
                border-width: 2px;
                background-color: white;
            }
        }
    }
    a {
        padding-top: 30px !important;
        color: rgba(218, 8, 8, 1);
    }
    form {
        button{
            border-style: solid;
            border-color: rgba(218, 8, 8, 1);
            border-width: 2px;
            background-color: white;
        }
    }
}



.img-account {
    width: 30px;
    height: 30px;
    border-radius: 5px
}

.fullheight{
    min-height: 95vh;
}

.text-lh-20 {
    line-height: 20px;
}

.block-list {
    ul {
        li {
            .icon {
                margin-right: 8px;
                color: rgb(193, 7, 23);
            }
            .link {
                a {
                    padding-top: 1px;
                }
                a:link {
                    color: rgb(47, 62, 79);
                    background-color: transparent;
                    text-decoration: dotted rgb(193, 7, 23);
                }

                a:visited {
                    color: darken(rgb(47, 62, 79),80%);
                    background-color: transparent;
                    text-decoration: none;
                }

                a:hover {
                    color: rgb(193, 7, 23);
                    background-color: transparent;
                    text-decoration: underline;
                }

                a:active {
                    color: yellow;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }
    }
}

.pos-r {
    position: relative;
}
