{% extends 'base.html.twig' %}

{% block title %}New Mission{% endblock %}

{% block main %}
         {% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="container cust-form-edit">
    <h1>Create new Mission</h1>

    {{ include('mission/_form.html.twig') }}

    <div class="d-flex flex-column justify-content-between m-3">
        <a href="{{ path('admin_mission') }}">Retour a la liste des taches ( admin )</a>
        <a href="{{ path('home_index') }}">Retour au Cv</a>
    </div>
</div>
{% endblock %}
