{% extends 'base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block main %}
    <h1>Create new Skill</h1>

    {{ include('skill/_form.html.twig') }}

    <div class="d-flex flex-column justify-content-between">
        <a href="{{ path('admin_skill') }}">Retour a la liste des taches ( admin )</a>
        <a href="{{ path('home_index') }}">Retour au Cv</a>
    </div>
{% endblock %}
