<div class="d-flex justify-content-center container-navbar">
    <div class="w-50">
        <div class="d-flex justify-content-between">
            <div class="d-inline-flex ">
                {% include "/components/_button_login.html.twig" %}
                {% include "/components/_button_login.html.twig" %}
            </div>
        <div>
            {% include "/components/_button_login.html.twig" %}
        </div>
        </div>
    </div>
</div>
