<div class="d-flex flex-fill flex-column m-2 cust-shadow cust-backgroud-motif">
    <div class="d-inline-flex ml-2 mt-2 border-bottom cust-radius-top">
        <h2><strong>{{ title|default('CONTACT') }}</strong></h2>
    </div>
    <div class="d-inline-flex">
        {% if user %}
            <ul class="ml-4 ml-lg-3 mt-2 list-unstyled">
            {% for skill in softSkills %}
                <li>
                    {{ skill.name }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        {% endif %}
    </div>
</div>
