<div class="d-flex flex-fill flex-column m-2 cust-shadow cust-backgroud-motif">
    <div class="d-inline-flex ml-5 mt-2 border-bottom cust-radius-top">
        <h2>{{ title|default('') }}</h2>
    </div>
    <div class="d-inline-flex">
        <ul class="mt-3 list-unstyled">
            <li class="ml-5 ml-lg-1 mr-5 mr-lg-1">
                <p> {{ user.profil|raw }} </p>
            </li>
        </ul>
    </div>
</div>
