<div class="d-flex flex-column m-2 block-shadow block-background-motif">
    <div class="d-inline-flex ml-2 mt-2 border-bottom cust-radius-top">
        <h2><strong>{{ title|default('INTERETS') }}</strong></h2>
    </div>
    <div class="d-inline-flex">
        {% if user %}
        <ul class="ml-4 ml-lg-3 mr-lg-1 mt-2 list-unstyled">
            {% for interet in interets %}
                <li class="text-lh-20">
                    {{ interet.name }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        {% endif %}
    </div>
</div>
