<div class="container-btn mt-2 ml-0 mr-0 mb-2 p-0 dropdown-item">
        <a href="{{ path("admin_skills") }}"> Gestion des Compétences
                {{ include('components/_icon_admin.html.twig') }} </a>
</div>
